*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}
.chatbot {
    position: absolute;
    height: 10vh;
    margin-left: 1400px; 
    padding-bottom: 1200px; 
    z-index: 9999; 
}

@media (max-width: 768px) {
    .chatbot {
        bottom: 20px; 
        left: 50%; 
        transform: translateX(-50%); 
        height: 20px; 
        margin-left: 170px; 
        padding-bottom: 0; 
    }
}

#about {
    position: relative;
}
.chatbot :hover {
    background-color: #A7D3A1;
    color: white;
    border-radius: 10px;
}


#platforms {
    background-image: url("./public/bg-learn.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
#contact {
    height: 50vh;
   background: #A7D3A1;
   text-align: center;
   justify-content: center;
   align-content: center;
}
hr{
    border-color: black;
}


/* #policy {
    padding-left: 90px;
}
#support {
    padding-left: 120px;
}
#contact {
    padding-left: 90px;
} */

